{% if SITE_PREFS.callback_button == 'zadarma-01' %}
<link rel="stylesheet" href="{{ 'css/zcallback_widget-01.css'|version_url }}" type="text/css" charset="utf-8" /> 
<script type="text/javascript">
var ZCallbackWidgetLinkId  = '0a937055166ddc7247256a3de885cb52';
var ZCallbackWidgetDomain  = 'my.zadarma.com';
(function(){
    var lt = document.createElement('script');
    lt.type ='text/javascript';
    lt.charset = 'utf-8';
    lt.async = true;
    lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js?unq='+Math.floor(Math.random(0,1000)*1000);
    var sc = document.getElementsByTagName('script')[0];
    if (sc) sc.parentNode.insertBefore(lt, sc);
    else document.documentElement.firstChild.appendChild(lt);
})();
</script>
{% endif %}


{% if SITE_PREFS.callback_button == 'zadarma-02' %}
<link rel="stylesheet" href="{{ 'css/zcallback_widget-02.css'|version_url }}" type="text/css" charset="utf-8" /> 
<script type="text/javascript">
var ZCallbackWidgetLinkId  = '8e707eb58386fc1e403496c7eee63da5';
var ZCallbackWidgetDomain  = 'my.zadarma.com';
(function(){
    var lt = document.createElement('script');
    lt.type ='text/javascript';
    lt.charset = 'utf-8';
    lt.async = true;
    lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js?unq='+Math.floor(Math.random(0,1000)*1000);
    var sc = document.getElementsByTagName('script')[0];
    if (sc) sc.parentNode.insertBefore(lt, sc);
    else document.documentElement.firstChild.appendChild(lt);
})();
</script>
{% endif %}


{% if SITE_PREFS.callback_button == 'zadarma-03' %}
<link rel="stylesheet" href="{{ 'css/zcallback_widget-03.css'|version_url }}" type="text/css" charset="utf-8" /> 
<script type="text/javascript">
var ZCallbackWidgetLinkId  = '513e07d3b3bfeacb833fdea05111603c';
var ZCallbackWidgetDomain  = 'my.zadarma.com';
(function(){
    var lt = document.createElement('script');
    lt.type ='text/javascript';
    lt.charset = 'utf-8';
    lt.async = true;
    lt.src = 'https://' + ZCallbackWidgetDomain + '/callbackWidget/js/main.min.js?unq='+Math.floor(Math.random(0,1000)*1000);
    var sc = document.getElementsByTagName('script')[0];
    if (sc) sc.parentNode.insertBefore(lt, sc);
    else document.documentElement.firstChild.appendChild(lt);
})();
</script>
{% endif %}
