<div class="cart-widget hide"></div>

<script>
  var STORES = {{ STORES|jsonify_2_script() }};
</script>

<script id="cart-button-template" type="text/html">
  <% if (items.length > 0) { %>
  <a href="#" class="cart-button cart-button--small">
    <b><span class="cart-button-icon"></span></b>
    <b><span class="cart-button-count"><%= items.length %></span></b>
    <b><span class="cart-button-label"><%= label %></span></b>
  </a>
  <% } %>
</script>

<script id="cart-popup-template" type="text/html">
  <div class="cart">
    <div class="cart-region"></div>
    <div class="order-form-region"></div>
    <div class="order-sent-region"></div>
    <div class="cart-empty-message">Корзина пуста.</div>
    <div class="cart-hide"><a href="#">(скрыть корзину)</a></div>
    <% if (USER_IS_ADMIN) { %>
      <div class="cart-clear"><a href="#">[очистить]</a></div>
    <% } %>
  </div>
</script>

<script id="cart-template" type="text/html">
  <div class="items-region"></div>
  <div class="cart-promo-code">
    <label><a href="/codes/" target="_blank">купон на скидку</a>: <input name="code" type="text" value="<%= order.code %>" placeholder="введите код купона"></label>
    <% if (order.discounts) { %>
      <% if (order.discounts.names.length) { %>
        <!-- Названия акций -->
        <% _.each(order.discounts.names, function(n){ %>
          <div class="discount-note"><%= n %></div>
        <% }); %>
      <% } %>
      <!-- Суммарные скидки -->
      <% if (order.discounts.variable > 0) { %>
        <div class="discount-note">Скидка <%= order.discounts.variable %>%</div>
      <% } %>
      <% if (order.discounts.fixed > 0) { %>
        <div class="discount-note">Скидка <%= order.discounts.fixed %>р</div>
      <% } %>
    <% } %>
  </div>
  <% if (_.size(order.warnings)) { %>
    <ul class="warnings">
      <% _.each(order.warnings, function(val, key){ %>
        <li data-warn-id="<%= key %>"><span class="warn-msg"><%= val %></span> <span class="warn-close">x</span></li>
      <% }); %>
    </ul>
  <% } %>
  <div class="cart-total clearfix">
    Всего на <%= order.total_price %>р
    <% if (order.delivery && order.delivery!='selfdelivery') { %>
      + доставка
    <% } %>
  </div>
  <% if (_.size(order.warnings)) { %>
    <div class="warn-note">Нажмите "заказать" ещё раз, чтобы всё равно продолжить.</div>
  <% } %>
  <button type="button" class="btn btn-primary cart-purchase-button">
    <span class="cart-purchase-button-label">Заказать &rarr;</span>
  </button>
</script>

<script id="cart-item-template" type="text/html">
  <div class="cart-item">
    <div class="cart-item-name"><%- name %></div>
    <a href="#" class="cart-item-remove">&times;</a>
    <input class="cart-item-count form-control" type="number" min="1" value="<%= count %>">
    <div class="cart-item-multiply-sign">&times;</div>
    
    <% if (discount_price) { %>
      <div class="cart-item-price">
        <span class="disabled-price"><%= price %></span>
        <%= discount_price %>
      </div>
      <div class="cart-item-discount">Скидка <%= (price - discount_price) * count %>р.</div>
    <% } else { %>
      <div class="cart-item-price"><%= price %></div>
    <% } %>

    <% if (typeof(preorder) !== 'undefined') { %>
      <div class="cart-item-preorder">Предзаказ на <%= preorder %></div>
    <% } %>    
    
    <div class="cart-clearfix"></div>
  </div>
</script>


<script id="cart-order-sent-template" type="text/html">
  <% if (typeof(contact_name) !== 'undefined') { %>
    <% if (contact_name) { %>
      <%= contact_name %>, спасибо за заказ!
    <% } else { %>
      Спасибо за заказ!
    <% } %>
    <br>Ваш заказ отправлен.
    <br>В ближайшее время мы свяжемся с вами
    <% if (contact_phone) { %><br> по телефону <%= contact_phone %><% } %>
    <% if (contact_email) { %><br> по почте <%= contact_email %><% } %>
  <% } %>
</script>

<script id="button-spinner-template"  type="text/html">
  <div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div>
</script>

<script id="cart-order-form-template" type="text/html">
  <form role="form">
    <div class="form-group">
      <label class="control-label" for="cart-name">Имя</label>
      <input type="text" name="contact_name" class="form-control" id="cart-name"
             placeholder="введите ваше имя"
             required value="<%= order.contact_name %>">
    </div>
    <div class="form-group">
      <label class="control-label" for="cart-phone">Телефон<sup>*</sup></label>
      <input type="text" name="contact_phone" class="form-control" id="cart-phone"
             placeholder="введите ваш телефон"
             required value="<%= order.contact_phone %>">
    </div>
    <div class="form-group">
      <label class="control-label" for="cart-email">Email</label>
      <input type="text" name="contact_email" class="form-control" id="cart-email"
             placeholder="ваш email (не обязательно)"
             required value="<%= order.contact_email %>">
    </div>


    <div class="form-group field-delivery">
      <% _.each(['polus-tretyak', 'smarta-red-room'], function(slug){ %>
      <div class="delivery-option" data-d-type="selfdelivery--<%= slug %>">
        <label class="control-label">
          <input name="delivery" type="radio" value="selfdelivery--<%= slug %>" <% if (order.delivery=='selfdelivery--'+slug){ %>checked<% } %> >
          самовывоз <%= stores[slug].cart_name %>
        </label>
        <div class="delivery-details">
          Самовывоз <%= stores[slug].work_hours %>
          <br>
          <b>адрес: <%= stores[slug].address %></b>
          <a target="_blank" href="https://yandex.ru/maps/213/moscow/?mode=search&text=<%= encodeURIComponent(stores[slug].address) %>">карта</a>
        </div>
      </div>
      <% }); %>

      <div class="delivery-option" data-d-type="delivery">
        <label class="control-label">
          <input name="delivery" type="radio" value="delivery" <% if (order.delivery=='delivery'){ %>checked<% } %> >
          доставка
        </label>
        <div class="delivery-details">
          <label class="control-label" for="cart-address">Адрес доставки</label>
          <textarea type="text" name="contact_address" class="form-control" id="cart-address"
                    placeholder="введите ваш адрес"
                    required rows="3"><%= order.contact_address %></textarea>
        </div>
      </div>

      {#
      <div class="delivery-option" data-d-type="post">
        <label class="control-label">
          <input name="delivery" type="radio" value="post" <% if (order.delivery=='post'){ %>checked<% } %> >
          доставка почтой
        </label>
        <div class="delivery-details">
          <label class="control-label" for="cart-address">Почтовый адрес:</label>
          <textarea type="text" name="contact_address" class="form-control" id="cart-address"
                    placeholder="введите ваш адрес, индекс и полное ФИО"
                    required rows="3"><%= order.contact_address %></textarea>
        </div>
      </div>
      #}
    </div>
   

    <br>
    <div class="form-group">
      <input type="text" name="note" class="form-control" id="cart-time"
             placeholder="пожелания"
             required value="<%= order.note %>">
    </div>
    <div class="cart-total clearfix">
      <span class="btn btn-sm btn-default cart-back-button">&larr; назад</span>

      <% if (order.discounts) { %>
        <% if (order.discounts.names.length) { %>
          <!-- Названия акций -->
          <% _.each(order.discounts.names, function(n){ %>
            <div class="discount-note"><%= n %></div>
          <% }); %>
        <% } %>
        <!-- Суммарные скидки -->
        <% if (order.discounts.variable > 0) { %>
          <div class="discount-note">Скидка <%= order.discounts.variable %>%</div>
        <% } %>
        <% if (order.discounts.fixed > 0) { %>
          <div class="discount-note">Скидка <%= order.discounts.fixed %>р</div>
        <% } %>
      <% } %>
  
      Всего на <%= order.total_price %>р
      <% if (order.delivery && order.delivery in {'delivery':1, 'delivery-post':1}) { %>
        + доставка
      <% } %>
    </div>

    <% if (_.size(order.warnings)) { %>
      <ul class="warnings">
        <% _.each(order.warnings, function(val, key){ %>
          <li data-warn-id="<%= key %>"><span class="warn-msg"><%= val %></span> <span class="warn-close">x</span></li>
        <% }); %>
      </ul>
      <div class="warn-note">Нажмите "Отправить заказ" ещё раз, чтобы всё равно продолжить.</div>
    <% } %>

    <div><label style="margin-top: 5px; font-size: 12px; font-weight: normal;">
      <input type="checkbox" name="accept-for-ads" checked style="vertical-align: text-bottom;"> получать информацию о скидках и акциях</label>
    </div>

    <% if (USER_IS_ADMIN) { %>
    <div class="operator-order-fields">
        Я - оператор,
        <br><label style="font-weight: normal;"
                   title="выставляет источник 'по телефону'"
            >
          <input type="checkbox" name="op_phone_order" style="vertical-align: text-bottom;" <% if (order['op_phone_order']){ %>checked<% } %> >
          это заказ по телефону
        </label>
        <br><label style="font-weight: normal;"
            >
          <input type="checkbox" name="status_confirmed" style="vertical-align: text-bottom;" <% if (order['status_confirmed']){ %>checked<% } %>>
          уже согласован с клиентом (не слать СМС)
        </label>
      </div>
    <% } %>
      

    <button type="button" class="-visor-no-click btn btn-primary cart-send-order-button">
      <span class="cart-send-order-button-label">Отправить заказ</span>
    </button>
  </form>
</script>
