<div class="header-fixed clearfix">
  <div class="content">
    <div class="menu">
      <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span>Меню</span>
      </button>
    </div>
    
    <div class="cart-placeholder cart-placeholder--fixed"></div>

    <a class="tel" href="tel:+74993229249"><b>+7 (499) 322-92-49 &nbsp;</b></a>
{#	<a class="tel" href="tel:+79031638090"><b>+7 (903) 163-80-90 &nbsp;</b></a> #}
    
    <nav class="navbar">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% include "_menu.html" %}
            <li class="menu-justify-hack"><!-- должен быть последним в меню --></li>
          </ul>
      </div>
    </nav>

  </div>
</div>

<div id="{{ header_id }}" class="header clearfix">
	<div id="header-network" class="clearfix">
		<a href="https://plus.google.com/111579023773465043045" target="_blank" class="social googleplus"></a>
		<a href="http://facebook.com/vkusnyan" target="_blank" class="social facebook"></a>
		<a href="http://twitter.com/vkusnyan" target="_blank" class="social twitter"></a>
		<a href="https://vk.com/vkusnyan90" target="_blank" class="social vkontakte"></a>
        <div class="cart-placeholder cart-placeholder--top"></div>
	    <div class="links2">
<!--		 |<a href="/opt/">Опт</a>| -->
        </div>
	    <div class="links">
		  <a href="/contact-us/">Контакты</a> |
		  <a href="/delivery/">Доставка</a> |
		  <a href="/pickup/">Самовывоз</a> |
		  <a href="/payment/">Оплата</a>
        </div>
	</div>

    <div class="header-logo-place"><!-- этот блок растягивает заголовок для того, чтобы влез логотип --></div>

	<span id="header-connect">
      <b>город:<font color="f8564d"> Москва</font><br>
        самовывоз со склада: м. Третьяковская<br>
        <a href="/delivery/">доставка: от 290р, <font color="f8564d">от 3000р бесплатно</font></a></b>
    </span>

	<span id="header-infos">
		

<!-- <a href="tel:+79031638090"><b>+7 (903) 163-80-90</b><br></a>  -->
      <a href="tel:+74993229249"><b>+7 (499) 322-92-49</b><br></a>
      <b>Заказ по телефону с 08:00 до 21:00</b>
      <form method="GET" action="/" class="search-input">
        <i class="glyphicon glyphicon-search"
           style="position: relative; left: 28px;"
        ></i>
        <input class="g-search"
          style="padding-left: 29px"
          placeholder="поиск товара" type="text" name="s" value="{{ request.GET.get('s', '') }}"
        />
      </form>
	</span>
    
	<a href="/" id="logo1"></a>
                
	<ul id="header-navigation">
      {% include "_menu.html" %}      
      <li class="menu-justify-hack"><!-- должен быть последним --></li>
	</ul>
</div> <!-- /#header -->
