
<div class="side-panel side-panel--user {% if user.is_staff %}shift-bottom{% endif %}"
     data-panel-id="user"
     data-default-opened="yes"
>
  <div class="side-panel_control">
    <span class="close">x</span>
    <span class="open">&gt;</span>      
  </div>
  До 31 декабря
  <br>магазин работает 
   <br>с 8:00 до 21:00.
  <br>
<br>С 01 января 
  <br>магазин работает 
<br>в стандартном графике
	<!--  <br>Уточняйте время самовывоза у оператора!-->
</div>

-->
    <b>В ноябре и декабре <font color="f8564d">работаем 8:00 до 21:00</font>, потом стандартно с 8:00 до 18:00.</b>
